#page {
	margin-top: 10px;
}
#page-h {
	margin-bottom: 20px;
}
#logo {
	margin-top: 5px;
}
#main-nav .navbar {
	margin-bottom: 0;
}
#main-nav .navbar-inner {
	padding-left: 0;
	padding-right: 0;
}

#page-c > .row {
	margin-bottom: 20px;
}
#page-f {
	border-top: 1px solid #ccc;
	padding-top: 5px;
}

h1 {
	font-size: 30px;
}

.project {
	padding: 10px;
	margin-bottom: 20px;
}
.project h2 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

.box {
}
.box .title {
	font-size: 20px;
}
